/* import roboto regular from google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* if add any padding or border to an element it will not affect the width */
* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  overflow: hidden;
  margin: 0;

  font-family: "Roboto", sans-serif;
}
