/* import roboto regular from google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* if add any padding or border to an element it will not affect the width */
* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  overflow: hidden;
  margin: 0;

  font-family: sans-serif;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  /* background-size: auto 100%; */
  flex: 0.5;
  /* to preserve round corners on large screens */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* box model */
  height: 80vh;
  border-radius: 50px;
  margin: 10px;

  color: #fff;

  cursor: pointer;
  /* parent container of the h3*/
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  /* position itself inside the panel */
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;

  font-size: 24px;

  opacity: 0;
}

.panel.active {
  /* has the largest width */
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

/* apply this styling if the width is 480px and below */
@media (max-width: 480px) {
  .container {
    width: 100vw;
  }
  /* panel position 4 and 5 will not be displayed */
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
